.Banner{
    display: flex;
    justify-content: center;
    height: fit-content;
    margin-top: 30px;
    cursor: grab;
}
.banner-itens{
    display: flex;
    justify-content: center;
    height: fit-content;
}
.banner-itens img{
    width: 1196px;
}
